<!-- Generated template for the RenxuanbazhongwudantuoComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>  
<div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div>

<div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
    <div class="l">
        <p><span></span>{{ii == 0 ? '胆码' : '脱码'}}</p>      
    </div>

    <div class="r">
        <div class="ball-list">
            <ul class="ball-choose">
                <li *ngFor="let item of data.value.slice(0,6);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i)">
                    {{('0' + (i + 1)).slice(-2)}}
                    <span class="tip-block">{{('0' + (i + 1)).slice(-2)}}</span>
                </li>
            </ul>

            <ul class="ball-choose">
                <li *ngFor="let item of [0,1,2,3,4,5];let i = index" [class.current]="data.value[i+6] == 1" [class.blank]="i > 4" >
                    <span *ngIf="i <= 4" (click)="changeToggle(ii,i+6)">{{ppp(i)}}</span>
                    <span *ngIf="i > 4"></span>  
                    <span *ngIf="i <= 4" class="tip-block">{{ppp(i)}}</span>
                </li>
            </ul>
        
        </div>
    </div>
</div>
