<!-- Generated template for the RenxuanerzhixuanhezhiComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>  
<div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div>

<div id="balls-choice">
     <label *ngFor="let item of choices;let i = index" [class.current]="item.choose" (click)="toggle(i,2);$event.preventDefault()">
           <input type="checkbox" [checked]="item.choose"> {{item.name}}
     </label>  
</div>

<div class="l-game" *ngFor="let data of common.ballData;let ii = index" style="margin-bottom: 0">
    <div class="r" style="padding-right:10px">
        <div class="ball-list">
            <ul>
                <li *ngFor="let item of data.value;let i = index" [class.current]="item == 1" [class.blank]="(ii*7 + i) > 18"  >
                    <span *ngIf="(ii*7 + i) <= 18" (click)="changeToggle(ii,i)">{{ii*7 + i}}</span>
                    <span *ngIf="(ii*7 + i) > 18"></span>  
                </li>
            </ul>
        
            <!-- <div class="btn-list">
                <a href="javascript:;" *ngFor="let detail of common.btn[ii];let j = index" [class.current]="detail.flag" >{{detail.name}} <span></span></a>
            </div> -->
        </div>
    </div>              
</div>

<div class="btn-list" style="margin:10px auto">
    <a href="javascript:;" *ngFor="let detail of common.singleBtn;let j = index" [class.current]="detail.flag" (click)="changeActive(null,j,detail.name)">{{detail.name}} <span></span></a>
 </div>