<!-- Generated template for the ZhongsanhezhiweishuComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>   

 <div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div>
 <div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
    <div class="l">
            <p><span></span>选号</p>
            <p class="statistic-data" *ngIf="check('当前遗漏')">遗漏</p>
            <p class="statistic-data" *ngIf="check('30期冷热')">冷热</p>
            <p class="statistic-data" *ngIf="check('平均遗漏')">平均</p>
            <p class="statistic-data" *ngIf="check('最大遗漏')">最大</p>  
    </div>

    <div class="r">
        <div class="ball-list">
                <ul class="ball-choose">
                        <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i)">
                            {{i}}
                            <span class="tip-block">{{i}}</span>
                        </li>
                </ul>

                <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.current.slice(0,5)" [class.active]="checkMax(detail,common.missData.zshzws.current)">{{detail}}</li>             
                    </ul>
                    
                    <ul class="lengre statistic" *ngIf="check('30期冷热')">
                        <li *ngFor ="let detail of common.missData.zshzws.hot.slice(0,5)" [ngClass]="checkLengRe(detail,common.missData.zshzws.hot)">{{detail}}</li>
                    </ul>
        
                    <ul class="lengre statistic" *ngIf="check('平均遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.average.slice(0,5)">{{detail}}</li>
                    </ul>
        
                    <ul class="lengre statistic" *ngIf="check('最大遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.max.slice(0,5)">{{detail}}</li>
                    </ul>

                <ul class="ball-choose">
                    <li *ngFor="let item of data.value.slice(-5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,qqq(i))">
                        {{qqq(i)}}
                        <span class="tip-block">{{qqq(i)}}</span>
                    </li>
                </ul>

                <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.current.slice(-5)" [class.active]="checkMax(detail,common.missData.zshzws.current)">{{detail}}</li>             
                    </ul>
                    
                    <ul class="lengre statistic" *ngIf="check('30期冷热')">
                        <li *ngFor ="let detail of common.missData.zshzws.hot.slice(-5)" [ngClass]="checkLengRe(detail,common.missData.zshzws.hot)">{{detail}}</li>
                    </ul>
        
                    <ul class="lengre statistic" *ngIf="check('平均遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.average.slice(-5)">{{detail}}</li>
                    </ul>
        
                    <ul class="lengre statistic" *ngIf="check('最大遗漏')">
                        <li *ngFor ="let detail of common.missData.zshzws.max.slice(-5)">{{detail}}</li>
                    </ul>  

            <div class="btn-list">
                <a href="javascript:;" *ngFor="let detail of common.btn[ii];let j = index" [class.current]="detail.flag" (click)="changeActive(ii,j,detail.name)">{{detail.name}} <span></span></a>

            </div>
        </div>
    </div>
</div>
