<ion-header>
  <ion-navbar>
    <h2 class="DIY-title">账变明细</h2>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="lh-head">
    <div class="lh-Picker">
      <ion-datetime min="2013" cancelText="取消" doneText="确定" (ionChange)='selectDate()' displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="transData.timeStarts"></ion-datetime>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
    <div class="mid-line"></div>
    <div class="lh-Picker">
      <ion-datetime min="2013" cancelText="取消" doneText="确定" (ionChange)='selectDate()' displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="transData.timeEnds"></ion-datetime>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
    <div class="mid-line"></div>
    <div class="lh-Picker game-picker">
      <ion-item>
        <ion-select cancelText="取消" okText="确认" placeholder="{{currentLottory.cn_title}}" (ionChange)="selectChange(currentLottory,transData.page,true)">
          <ion-label>{{currentLottory.cn_title}}</ion-label>
          <ion-option *ngFor="let lottory of lottorys" (ionSelect)="changeCurrent(lottory)" value="{{lottory.cn_title}}">{{lottory.cn_title}}</ion-option>
        </ion-select>
      </ion-item>
      <i class="firecat-icon dropdown-icon"></i>
    </div>
  </div>
  <div class="lh-body">
    <div class="switch-case case-withdraw">
      <div class="enpty" *ngIf="transData.data.length==0">
        <p>暂无相关记录</p>
      </div>
      <div class="month"  *ngIf="transData.data.length!=0">
        <div class="case-content switch-case">
          <div class="case-content-unit" *ngFor="let transfer of transData.data;index as i">
            <div class="case-wrap">
              <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden">编号：<span>{{transfer.serial_number}}</span></p>
              <p>{{transfer.created_at}}</p>
            </div>
            <div class="case-wrap ball-wrap border-bottom">
              <p>金额：<span [ngClass]="{'green':transfer.is_income=='-','red':transfer.is_income=='+'}">{{transfer.is_income}}{{formatMoney(transfer.amount)}}</span></p>
              <p>{{transfer.lottery_name}} {{transfer.friendly_name}}</p>
            </div>
            <div class="case-wrap case-wrap-big">
              <p text-left>余额：<span>{{formatMoney(transfer.balance)}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))" *ngIf="loadmore==true">
    <ion-infinite-scroll-content class="myloading" loadingSpinner="bubbles" loadingText="努力加载中…"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--<div *ngIf="isNomore==false" style="line-height: 50px;text-align: center;font-size: 14px;margin-top: -10px">-->
    <!--没有更多了-->
  <!--</div>-->
</ion-content>
