<!-- Generated template for the RenxuansanzuxuanhezhiComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>   

 <div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div>
 <div id="balls-choice">
    <label *ngFor="let item of choices;let i = index" [class.current]="item.choose" (click)="toggle(i,3);$event.preventDefault()">
          <input type="checkbox" [checked]="item.choose"> {{item.name}}
    </label>  
</div>
 <div class="l-game" *ngFor="let data of common.ballData;let ii = index" style="margin-bottom: 0">
                <div class="r" style="padding-right:10px">
                    <div class="ball-list">
                        <ul>
                            <li *ngFor="let item of data.value;let i = index" [class.current]="item == 1" [class.blank]="(ii*7 + i) > 25"  >
                                <span *ngIf="(ii*7 + i) <= 25" (click)="changeToggle(ii,i)">{{ii*7 + i +1}}</span>
                                <span *ngIf="(ii*7 + i) > 25"></span>  
                            </li>                        
                        </ul>
                         
                    
                    </div>
                </div>              
</div>

<div class="btn-list" style="margin:10px auto">
    <a href="javascript:;" *ngFor="let detail of common.singleBtn;let j = index" [class.current]="detail.flag" (click)="changeActive(null,j,detail.name)">{{detail.name}} <span></span></a>
 </div>
