<div class="lk-container" *ngIf="resultsData.data.length!=0">
  <table>
    <tr>
      <th class="lk-unit">期号</th>
      <th class="lk-unit">开奖号码</th>
      <th class="lk-unit">总和</th>
      <th class="lk-unit">大小</th>
      <th class="lk-unit">单双</th>
    </tr>
    <tr *ngFor="let result of resultsData.data" [ngClass]="{'isWaiting-bg':result.code.length<=1}">
      <td>{{result.number.slice(-6)}}期</td>
      <td class="num-list" *ngIf="result.code.length>1"><span *ngFor="let code of result.code">{{code}}</span></td>
      <td *ngIf="result.code.length>1">{{result.sum}}</td>
      <td *ngIf="result.code.length>1" [ngClass]="{'big':result.sum>22,'small':result.sum<23}">{{result.sum>22?'大':'小'}}</td>
      <td *ngIf="result.code.length>1" [ngClass]="{'double':result.sum%2==0,'single':result.sum%2==1}">{{result.sum%2==0?'双':'单'}}</td>
      <td colspan="4" *ngIf="result.code.length<=1">等待开奖...</td>
    </tr>
  </table>
</div>

