<div class="k3-component k3-baseTrend" *ngIf="resultsData.data.length!=0">
  <div class="kj-head">
    <div class="kj-unit kj-unit1">期号</div>
    <div class="kj-unit kj-unit2">开奖号</div>
    <div class="kj-unit kj-unit3">和值</div>
    <div class="kj-unit kj-unit4">跨度</div>
    <div class="kj-unit kj-unit5">
      <div class="kj-num-unit">1</div>
      <div class="kj-num-unit">2</div>
      <div class="kj-num-unit">3</div>
      <div class="kj-num-unit">4</div>
      <div class="kj-num-unit">5</div>
      <div class="kj-num-unit">6</div>
    </div>
  </div>
  <div class="kj-body">
    <div class="kj-list" *ngFor="let result of resultsData.data">
      <div class="kj-unit kj-unit1">{{result.number.slice(-5)}}期</div>
      <div class="kj-unit kj-unit2" *ngIf="result.code.length>1">{{result.code.join('')}}</div>
      <div class="kj-unit kj-unit3" *ngIf="result.code.length>1">{{result.sum}}</div>
      <div class="kj-unit kj-unit4" *ngIf="result.code.length>1">{{result.spacing}}</div>
      <div class="kj-unit kj-unit5" *ngIf="result.code.length>1">
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('1')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[0]>1}">{{result.blanket[0]}}</i><span>1</span></div>
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('2')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[1]>1}">{{result.blanket[1]}}</i><span>2</span></div>
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('3')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[2]>1}">{{result.blanket[2]}}</i><span>3</span></div>
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('4')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[3]>1}">{{result.blanket[3]}}</i><span>4</span></div>
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('5')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[4]>1}">{{result.blanket[4]}}</i><span>5</span></div>
        <div class="kj-num-unit" [ngClass]="{'current':result['code'].indexOf('6')!=-1}"><i class="k3blankit" [ngClass]="{'current':result.blanket[5]>1}">{{result.blanket[5]}}</i><span>6</span></div>
      </div>
      <div class="t-qihao-list" *ngIf="result.code.length<=1" style="width:100%;flex:1;text-align: center;color: #fff">等待开奖...</div>
    </div>
  </div>
</div>
