page-change-pay-psw {
  .common-form .cf-row label{
    width: 80px;
    font-size: 14px;
  }
  .common-form .cf-row input{
    font-size: 14px;
    text-indent: 4px;
  }
  .disableBtn{
    background-color: #B4B4B4!important;
  }
}
