page-signup {
  .common-form .cf-row label{
    width: auto;
  }
  .kefu-btn{
    float: right;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: -0.29px;
    padding: 0;
    height: 44px;
    background: none;
    line-height:44px;
    border: none;
    outline: none;
    margin: 0;
    position: relative;
    z-index: 1000;
  }
}
