page-invite {
  .scroll-content{
    background-color: #ffffff;
  }
  .kefu-btn{
    float: right;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: -0.29px;
    padding: 0;
    height: 44px;
    background: none;
    line-height:44px;
    border: none;
    outline: none;
    margin: 0;
    position: relative;
    z-index: 1000;
  }
  .invite-banner{
    width: 100%;
    height: auto;
  }
  .invite-text{
    margin-top:32px;
    text-align: center;
    padding:  0 16px;
    margin-bottom: 48px;
    h2{
      font-size: 16px;
      color: #333333;
      letter-spacing: -0.29px;
    }
    p{
      font-size: 12px;
      color: #333333;
      letter-spacing: -0.22px;
      line-height:18px;
    }
  }
  .set-reward{
    text-align: center;
    position: relative;
    .datetime-text{
      width: 100%;
      flex: none;
      height: 42px;
      line-height:40px;
      position: relative;
    }
    .item-cover{
      height: 42px;
      width: 196px;
      position: relative;
      left: -6px;
      right: 0px;
    }
    h2{
      font-weight: 500;
      font-size: 14px;
      color: #333333;
      letter-spacing: -0.25px;
    }
    input,.datetime{
      height: 42px;
      width: 196px;
      margin: 8px auto;
      padding: 0;
      outline: none;
      background: #FBF2ED;
      border: 1px solid #D4D4D4;
      border-radius: 3px;
      text-align: center;
      font-size: 14px;
      color: #333333;
      letter-spacing: -0.25px;
    }
    p{
      font-size: 12px;
      color: #999999;
      letter-spacing: -0.22px;
    }
  }
  .invite-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 47px;
    line-height:47px;
    button{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #F98D4B;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: -0.29px;
      text-align: center;
      outline: none;
      border: none;
    }
  }
  .slide-bar{
    padding: 0 16px;
    display: flex;
    .bar-hash{
      line-height:100px;
    }
    .item-ios{
      padding-left: 0;
      padding: 0 16px;

    }
  }
  .range-ios{
    padding-left: 0;
    padding-right: 0;
  }
  .range-ios .range-bar,.range-md .range-slider,.range-md .range-bar{
    height: 18px;
    border-radius: 18px;
    background-color: #ffffff;
    border: 1px solid #ff3f00;
  }
  .range-md .range-bar{
    top: -2px;
  }
  .range-ios-secondary .range-bar-active, .range-ios-secondary .range-tick-active,.range-md-secondary .range-bar-active,{
    background-color: #ff3f00;
  }
  .range-ios .range-knob{
    width: 30px;
    height: 30px;
    border: 7px solid #ff3f00;
    top: 15px;
  }
  .range-md .range-knob{
    width: 30px;
    height: 30px;
    border: 7px solid #ff3f00;
  }
  .range-md .range-knob-handle{
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
  }
  .range-md-secondary .range-pin,.range-md-secondary .range-knob{
    background: #fff;

  }
  .item-md.item-block .item-inner{
    border-bottom: none;
  }
  .range-md-secondary .range-knob{
    transform: scale(1);
    left: 6px;
    top: -13px;
  }
  .range-md-secondary .range-pin{
    display: none;
  }
  .qrcode-container{
    margin: 30px auto;
    text-align: center;
    img{
      display: inline-block;
    }
  }

  .item-md{
    padding-left: 0;
  }
  .item-block{
    overflow: visible;
  }
  .item-md.item-block .item-inner{
    padding-right: 0;
  }
  .range-md .range-bar{
    border: none!important;
    border-top: 1px solid #ff3f00!important;
  }
  .range-md{
    padding-right: 25px;
    padding-left: 13px;
  }
  .range-md.range-has-pin{
    padding-top: 40px;
  }
}
.invite-list{
  height: 187px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: #ffffff;
  padding: 20px 7px 0;
  h2{
    height: 40px;
    line-height:40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.22px;
    font-weight: normal;
    span{
      display: inline-block;
    }
    .title-text{
      width: 96px;
      text-align: center;
    }
    .mid-line{
      width: 31px;
      height: 1px;
      background-color: #d4d4d4;
      position: relative;
      top: -4px;
    }
  }
  .link-list{
    height: 80px;
    width: 220px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    span{
      display: block;
      width: 48px;
      height: 48px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .concel-btn{
    height: 41px;
    border-top: 1px solid #E8E8E8;
    line-height:40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.22px;
    margin-top: 5px;
  }


}
.invite-mask{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(33,33,33,.5);
}
