<!-- Generated template for the SixingermabudingweiComponent component -->
<div class="shakePhone" (click)="randomChoose()"></div>  
<div>{{common.smallKind.bonus_note}} {{util.formatMoney(common.bonus)}} 元</div>

<div class="l-game" *ngFor="let data of common.ballData;let ii = index" >
    <div class="l">
        <p><span></span>不定位</p>
        <p class="statistic-data" *ngIf="check('当前遗漏')">遗漏</p>
        <p class="statistic-data" *ngIf="check('30期冷热')">冷热</p>
        <p class="statistic-data" *ngIf="check('平均遗漏')">平均</p>
        <p class="statistic-data" *ngIf="check('最大遗漏')">最大</p>
      
    </div>

    <div class="r">
        <div class="ball-list">
            <ul>
                <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i)">{{i}}</li>
            </ul>

            <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.current.slice(0,5)" [class.active]="checkMax(detail,common.missData.sixbdw.current)">{{detail}}</li>             
            </ul>
                
            <ul class="lengre statistic" *ngIf="check('30期冷热')">
                <li *ngFor ="let detail of common.missData.sixbdw.hot.slice(0,5)" [ngClass]="checkLengRe(detail,common.missData.sixbdw.hot)">{{detail}}</li>
            </ul>

            <ul class="lengre statistic" *ngIf="check('平均遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.average.slice(0,5)">{{detail}}</li>
            </ul>

            <ul class="lengre statistic" *ngIf="check('最大遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.max.slice(0,5)">{{detail}}</li>
            </ul>

            <ul>
                <li *ngFor="let item of data.value.slice(-5);let i = index" [class.current]="item == 1" (click)="changeToggle(ii,i+5)">{{qqq(i)}}</li>
            </ul>

            <ul class="yilou statistic" *ngIf="check('当前遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.current.slice(-5)" [class.active]="checkMax(detail,common.missData.sixbdw.current)">{{detail}}</li>             
            </ul>
                
            <ul class="lengre statistic" *ngIf="check('30期冷热')">
                <li *ngFor ="let detail of common.missData.sixbdw.hot.slice(-5)" [ngClass]="checkLengRe(detail,common.missData.sixbdw.hot)">{{detail}}</li>
            </ul>

            <ul class="lengre statistic" *ngIf="check('平均遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.average.slice(-5)">{{detail}}</li>
            </ul>

            <ul class="lengre statistic" *ngIf="check('最大遗漏')">
                <li *ngFor ="let detail of common.missData.sixbdw.max.slice(-5)">{{detail}}</li>
            </ul>
         

            <div class="btn-list">
                <a href="javascript:;" *ngFor="let detail of common.btn[ii];let j = index" [class.current]="detail.flag" (click)="changeActive(ii,j,detail.name)">{{detail.name}} <span></span></a>

            </div>
        </div>
    </div>
</div>
