gamemenu {
  div.active{color: black}
  .choose-game{display:flex;flex-direction:column;width:100%;position:absolute;top:45px;background:#f0f0f0;padding: 10px;
    z-index:800;transition:.5s; transform:scale(1,0);transform-origin:center top}

  .big-method li{margin:0 4% 10px 0;width:21%;height:30px;display:inline-block; text-align:  center;
    line-height: 30px;background: #ffffff;border-radius: 5px}

  .big-method li.active{background:#F98D4B;color: #ffffff}

  .big-method li:nth-of-type(4n){margin-right: 0}

  div.small-method{display:inline-block;min-width:30%;margin-right:2%;border-radius:5px;background:#ffffff;text-align:center;padding:3px;margin-bottom:10px}

  div.small-method.active{background:#F98D4B;color: #ffffff}
}
