lottory-11-ykaijiang ,ssc-kaijiang,y-kaijiang{
  table {
    width: 100%;
    td {
      text-align: center;
      line-height: 31px;
      color: #666666;
      font-size: 12px;
    }
    tr:nth-child(2n-1) {
      background-color: #FFFAF7;
    }
    tr:nth-child(2n) {
      background-color: #ffffff;
    }
  }
  .lk-unit {
    line-height: 25px;
    color: #666666;
    font-weight: normal;
    background: #DEE2FF;
    border-bottom: 1px solid #D8D8D8;
    &:first-child {
      width: 16%;
    }
    &:nth-child(2) {
      width: 24%;
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5){
      width: 15%;
      font-size: 14px;
    }
  }
  .num-list {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      margin: 0 1px;
      color: #F6374E;
    }
  }
  .big,.double,.long{
    color: #E96A04;
  }
  .small,.single,.hu{
    color: #4455C6;
  }
}

.distribute-style {
  text-align: center;
  .ssc-table-head {
    color: #666666;
    letter-spacing: -0.22px;
    display: flex;
    line-height:25px;
    background: #DEE2FF;
    border: 1px solid #D8D8D8;
  }
  .t-qihao {
    width: 60px;
  }
  .t-qihao-list {
    flex: 1;
    width: 100%;
    display: flex;
    & > div {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }
      &.current span{
        color: #ffffff;
        background-image: linear-gradient(0deg, #F74511 0%, #F98A6A 100%);
        border: 0 solid #E64C20;
        box-shadow: 0 1px 2px 0 #F7B8A6;
      }
    }
  }
  .ssc-table-wrap{
    display: flex;
    line-height:31px;
    font-size: 12px;
    background-color: #ffffff;
    .t-qihao{
      color: #666666;
    }
    &:nth-child(2n){
      background-color: #FFFAF7;
    }
    .big,.double,.long{
      color: #E96A04;
    }
    .small,.single,.hu{
      color: #4455C6;
    }
  }
}
lottory-kaijiang {
  table{
    width: 100%;
    td{
      text-align: center;
      line-height:31px;
      color: #666666;
      font-size: 12px;
    }
    tr:nth-child(2n-1){
      background-color: #FFFAF7;
    }
    tr:nth-child(2n){
      background-color: #ffffff;
    }
    .big,.double{
      color: #E96A04;
    }
    .small,.single{
      color: #4455C6;
    }
  }
  .lk-unit{
    line-height:25px;
    color: #666666;
    font-weight: normal;
    background: #DEE2FF;
    border-bottom: 1px solid #D8D8D8;
    &:first-child{
      width: 16%;
    }
    &:nth-child(2){
      width: 27%;
    }
    &:nth-child(3),&:nth-child(4),&:nth-child(5){
      width: 19%;
    }
  }
  .num-list{
    display: flex;
    span{
      display: block;
      margin: 0 3px;
      color: #F6374E;
    }
  }
}

.k3-component{
  min-height: 100%;
  background-color: #35764B;
  .kj-head{
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    display: flex;
    background-color: #00582E;
    padding: 0 16px;
  }
  .kj-list{
    display: flex;
    height: 28px;
    line-height:27px;
    padding:  0 16px;
    border-bottom: 1px solid #0e5f35;
    &:nth-child(2n-1){
      background-color: #35764B;
    }
    &:nth-child(2n){
      background-color: #24714C;
    }
  }

}


.k3-kaijiang{
  .kj-head,.kj-list{
    .kj-unit1{
      width: 88px;
      text-align: center;
      color: #ffffff;
    }
    .kj-unit2{
      display: flex;
      width: 100%;
      flex: 1;
      color: #ffffff;
      justify-content: center;
    }
    .kj-unit3{
      width: 76px;
      text-align: center;
      color: #ffffff;
    }
  }
  .kj-list{
    .saizi-list{
      display: flex;
      align-items: center;
    }
    .num{
      //color: #ffffff;
      width: 35px;
      text-align: center;
      margin-left: 3px;
      line-height:28px;
    }
    .kj-unit2{

    }
  }

}

.k3-baseTrend{
  border-left: 1px solid #00582E;
  .kj-head{
    padding: 0;
  }
  .kj-unit1{
    width: 57px;
    text-align: center;
    border-right: 1px solid #00582E;

  }
  .kj-unit2{
    width: 49px;
    text-align: center;
    border-right: 1px solid #00582E;
  }
  .kj-unit3,.kj-unit4{
    width: 36px;
    text-align: center;
    border-right: 1px solid #00582E;
  }
  .kj-unit5{
    display: flex;
    width: 100%;
    flex: 1;
    text-align: center;
    .kj-num-unit{
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      border-right: 1px solid #00582E;
      span{
        display: flex;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
      }
      &.current{

        span{
          background-image: linear-gradient(0deg, #F74511 0%, #F98A6A 100%);
          border: 0 solid #E64C20;
        }
      }
    }
  }
  .kj-list{
    padding: 0;
    color: #ffffff;
    height: 32px;
    line-height:31px;
  }
  .k3blankit{
    position: absolute;
    right: -2px;
    top: -1px;
    width: 16px;
    margin: 0;
    height: 16px;
    line-height:16px;
    border-radius: 50%;
    background-color: #c56161;
    display: none;
    font-style: normal;
    font-size: 12px;
    &.current{
      display: inline-block;
    }
  }
}
.k3-shape{
  .kj-head{
    padding: 0;
  }

  .kj-unit1{
    width: 70px;
  }
  .kj-unit2{
    width: 55px;
  }
  .kj-unit3{
    flex: 1;
    width: 100%;
    display: flex;
    .kj-unit-list{
      width: 100%;
      flex: 1;
    }
  }
  .kj-list{
    color: #ffffff;
    padding: 0;
    text-align: center;
    height: 32px;
    line-height:31px;
    .kj-unit3{
      .kj-unit-list{
        &:nth-child(1).current{
          background: #3291FF;
        }
        &:nth-child(2).current{
          background: #7ED321;
        }
        &:nth-child(3).current{
          background: #E3374C;
        }
        &:nth-child(4).current{
          background: #F5A623;
        }
      }
    }
  }
}
.k3-cood{
  color: #ffffff;
  text-align: center;
  .kj-list{
    padding: 0;
  }
  .kj-head{
    padding: 0;
  }
  .kj-unit1{
    width: 59px;
  }
  .kj-unit2{
    width: 100%;
    flex: 1;
    display: flex;
    .kj-unit-list{
      width: 100%;
      flex: 1
    }
  }
}
pk10-kaijiang,pk10-chanpiom,lhc-kaijiang,lhc-shengxiao{
  .ssc-table-body .t-qihao-list{
    font-size: 14px;
    color: #FC302B;
    letter-spacing: -0.22px;
  }
}
lhc-bose{
  .t-qihao-list{
    font-size: 14px;
  }
  .t-tema{
    width: 56px;
  }
  .redBall{
    color: red;
  }
  .greenBall{
    color: green;
  }
  .blueBall{
    color: blue;
  }
}
.isWaiting-bg{
  background-color: #ECEBEB!important;
}





