page-common-status {
  .status-content{
    height: 177px;
    background-color: #FFFFFF;
  }
  .content-head{
    width: 34px;
    margin: 36px auto 10px;
  }
  .content-text{
    font-size: 18px;
    color: #333333;
    letter-spacing: -0.29px;
    text-align: center;
  }
}
