<ion-header>
  <ion-navbar>
    <h2 class="DIY-title">登录密码</h2>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="bank-card-content common-form">
    <div class="cf-row">
      <label for="oldPsw">旧密码</label>
      <input id="oldPsw" type="password" maxlength="16" [(ngModel)]="pswData.old_password" placeholder="6-16个字符，可使用字母或数字" required>
    </div>
    <div class="cf-row">
      <label for="newPsw">新密码</label>
      <input id="newPsw" type="password"  maxlength="16" [(ngModel)]="pswData.password" placeholder="6-16个字符，可使用字母或数字" required>
    </div>
    <div class="cf-row">
      <label for="comfirmPsw">确认密码</label>
      <input id="comfirmPsw" type="password"  maxlength="16" [(ngModel)]="pswData.password_confirmation" placeholder="6-16个字符，可使用字母或数字" required>
    </div>
    <div class="submit-row">
      <button *ngIf="pswData.old_password.length==0||pswData.password.length==0||pswData.password_confirmation.length==0" class="submit-button disableBtn">确认修改</button>
      <button *ngIf="pswData.old_password.length!=0&&pswData.password.length!=0&&pswData.password_confirmation.length!=0"class="submit-button " (click)="submitPsw()">确认修改</button>
    </div>
  </div>
</ion-content>
